/* Base tag styles */

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #333;
	font-size: 14px;
}

/* Forms */

form div {
	margin: 10px 0;
}

form fieldset {
	margin: 10px 0;
}

	form fieldset legend {
		color: #000;
		font-weight: bold;
	}


/* Layout */

#wrapper {
	margin: 0 auto;
	width: 994px;
}

.highlight {
background-color:yellow;
}

/* tables */
table {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
}

label {
	font-weight:bold;
}

table tr td {
	background-color: #fff;
	padding: 4px;
}

.error-messages {
 color: red;
}

.flash {
 background-color: #E6EEEE;
 bottom-top:15px;
}

#license {
	padding-top:15px;
}